:root {
  --color-red: #ff0000;
  --border-color: #000;
  --main-width: 1140px;
}

/* 外層容器 */
.cart {
  width: var(--main-width);
  margin: auto;
  min-height: 100vh;
  padding-top: 80px; /* 避開 navbar */
}

.cart-title {
  margin: 45px auto;
  text-align: center;
}

.cart-title h1 {
  font-size: 24px;
  margin: 0;
}

/* 主內容區：商品與結帳 */
.cart-body {
  position: relative;
  display: flex;
  gap: 24px;
}

/* 商品清單區 */
.cart-product {
  flex: 1;
}

/* 單一商品卡片 */
.cart-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: 1px solid var(--border-color);
  margin-bottom: 24px;
}

.cart-item img {
  width: 100px;
  height: 75px;
  object-fit: cover;
}

.cart-item h2 {
  margin: 0;
  font-size: 16px;
  flex-shrink: 0;
  width: 134px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid green;
}

/* 刪除按鈕 */
.cart-delete-btn {
  background-color: white;
  border: 1px solid var(--color-red);
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cart-delete-btn i {
  color: var(--color-red);
  font-size: 24px;
  transition: color 0.3s ease;
}

.cart-delete-btn:hover {
  background-color: var(--color-red);
}

.cart-delete-btn:hover i {
  color: white;
}

/* 結帳區塊 */
.cart-summary {
  position: relative; /* 作為定位容器 */
  width: 350px;
  flex-shrink: 0;
  overflow: hidden;
  border: 1px solid red;
}

.cart-price {
  height: 300px;
  background-color: #f2f79e;
  border: 1px solid var(--border-color);
  /* position 和 top 由 JS 控制 */
  transition: top 0.2s ease-out;
  z-index: 1001; /* 確保不被 navbar 蓋住 */
}

.footer {
  width: 1110px;
  height: 56px;
  background-color: #ffffff;
  // border: 1px solid #000000;
  margin: 40px auto 0;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #000000;
}

.footer-body {
  width: 1110px;
  height: 284px;
  border: 1px solid #000000;
  margin: 40px auto 0;
}
