:root {
  --color-red: #ff0000;
  --border-color: #000;
  --main-width: 436px;
}

/* 外層容器 */
.cart {
  width: var(--main-width);
  margin: auto;
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直置中 */
  align-items: center; /* 水平置中 */
}

.cart-title {
  margin-bottom: 24px; /* 與內容稍微間距 */
  text-align: center;
}

.cart-title h1 {
  font-size: 24px;
  margin: 0;
}

/* 金額總計區域 */
.cart-sum {
  font-size: 24px;
}

.cart-body .cart-sum {
  display: flex;
  justify-content: flex-end; /* 靠右對齊 */
  align-items: center;
  gap: 8px; /* 可選，加一點間距 */
}

.cart-coupon {
  border: 1px solid red;
  margin: 24px auto;
  display: flex;
  justify-content: flex-end; /* 靠右對齊 */
}

.cart-coupon input {
  width: 100%;
}

.cart-coupon button {
  width: 180px;
  height: 100%;
}

// 建立訂單按鈕
.cart-submit-btn {
  background-color: black;
  color: #ffffff;
  margin: auto;
  margin: 24px auto;
  width: 920px;
  height: 58px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;

  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  cursor: pointer;
}

.cart-submit-btn:hover {
  background-color: #87a9bc;
}

/* 單一商品卡片 */
.cart-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: 1px solid var(--border-color);
  margin-bottom: 24px;
  border-radius: 8px; /* 讓邊角有圓角 */
}

.cart-item img {
  width: 100px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px; /* 讓邊角有圓角 */
}

.cart-item h2 {
  margin: 0;
  font-size: 20px;
  flex-shrink: 0;
  width: 134px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-align: center;
}

/* 刪除按鈕 */
.cart-delete-btn {
  background-color: white;
  border: 1px solid var(--color-red);
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cart-delete-btn i {
  color: var(--color-red);
  font-size: 24px;
  transition: color 0.3s ease;
}

.cart-delete-btn:hover {
  background-color: var(--color-red);
}

.cart-delete-btn:hover i {
  color: white;
}
