.product {
  background-color: #fff;
  padding: 0 20px;
}

.product .wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product .item {
  width: calc((100% - 40px) / 3);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.product .content {
  flex: 1; /* 讓 content 填滿剩餘空間 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直置中 */
  align-items: center; /* 水平置中 */
  padding: 10px 0;
}

.product .img-box {
  position: relative;
  padding-top: 100%; /* padding-top: 100% 代表「高度等於寬度」，這是 CSS 的特性 */

  /* 就像你拿一張超大的圖片塞進一個相框（.img-box），
  overflow: hidden 就像相框的邊，它會剪掉圖片超出框線的部分，
  只保留框內的畫面。 */
  overflow: hidden; /* 讓 border-radius 正常生效，使圖片產生圓角 */

  border-radius: 8px;
  background: #f5f5f5;
}

.product .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 讓圖片 1.保持原本比例 2.不變形 3.填滿整個正方形區塊，多出來的裁掉 */
  cursor: pointer;
}

/* 讓查看更多按鈕浮在圖片上方，並預設隱藏 */
.product .img-box .view-more-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  padding: 6px 14px;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 4px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  width: 315px;
  height: 53px;
}

/* 滑鼠移到圖片上時顯示按鈕 */
.product .img-box:hover .view-more-btn {
  opacity: 1;
  pointer-events: auto;
}

.product .title {
  text-align: center;
  margin: 10px 0 4px;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.product .price {
  margin: 0 0 10px;
  // color: #888;
  font-size: 14px;
  text-align: center;
}

.product button {
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product button:hover {
  background-color: #555;
}
